<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="files/air-datepicker.css?_v=20230429190638">
   <link rel="stylesheet" href="css/style.min.css?_v=20230429190638">
   <script src="files/air-datepicker.js?_v=20230429190638" defer></script>
   <script src="js/app.min.js?_v=20230429190638" defer></script>
   <title>НИИПГаза</title>
</head>

<body>
   <main class="login">
      <div class="login__logo">
         <img src="images/logo.svg" alt="logo" class="img-con">
      </div>
      <div class="login__content">
         <span class="login__content__title">Добро пожаловать</span>
         <div class="login__content__modal">
            <div class="login__content__modal__logo">
               <img src="images/logo.svg" alt="logo" class="img-con">
            </div>
            <sapn class="login__content__modal__title">Авторизоваться</sapn>
            <div class="login__content__modal__item">
               <input type="text" class="input" placeholder="Логин">
            </div>
            <div class="login__content__modal__item">
               <input type="text" class="input" placeholder="Пароль">
            </div>
            <button class="login__content__modal__btn _btn">Войти</button>
         </div>
      </div>
   </main>
</body>

</html>