<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="files/air-datepicker.css?_v=20230429190638">
   <link rel="stylesheet" href="css/style.min.css?_v=20230429190638">
   <script src="files/air-datepicker.js?_v=20230429190638" defer></script>
   <script src="js/app.min.js?_v=20230429190638" defer></script>
   <title>НИИПГаза</title>
</head>

<body>
   <div class="page">
      <header class="header">
   <div class="header__content">
      <div class="header__content__logo">
         <img src="images/logo.svg" alt="logotype" class="img-con">
      </div>
      <nav class="header__content__nav">
         <ul class="header__content__nav__list">
            <li class="header__content__nav__list__item active">
               <a href="#" class="header__content__nav__list__item__link">Планы работ</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Транспорт</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Оборудование</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Управление пользователями</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Контакты</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Сотрудники</a>
            </li>
            <li class="header__content__nav__list__item">
               <a href="#" class="header__content__nav__list__item__link">Отчеты</a>
            </li>
            <li class="header__content__nav__list__item__points __select">
               <span class="header__content__nav__list__item__link __select__header">...</span>
               <div class="header__content__user__info__role__header__content __select__body">
                  <a href="#"
                     class="header__content__user__info__role__header__content__item __select__body__item">Отчеты</a>
                  <a href="#"
                     class="header__content__user__info__role__header__content__item __select__body__item">Сотрудники</a>
                  <a href="#"
                     class="header__content__user__info__role__header__content__item __select__body__item">Контакты</a>
                  <a href="#"
                     class="header__content__user__info__role__header__content__item __select__body__item">Управление
                     пользователями</a>
                  <a href="#"
                     class="header__content__user__info__role__header__content__item __select__body__item">Оборудование</a>
               </div>
            </li>
         </ul>
      </nav>
      <div class="header__content__user">
         <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
         </div>
         <div class="header__content__user__message">
            <img src="images/mes.svg" alt="message" class="img-con">
         </div>
         <div class="header__content__user__info">
            <div class="header__content__user__info__avatar">
               <picture><source srcset="#" type="image/webp"><img src="#" alt="userprewi" class="img-ab"></picture>
            </div>
            <div class="header__content__user__info__text">
               <span class="header__content__user__info__name">Имя Фамилия</span>
               <div class="header__content__user__info__role __select">
                  <div class="header__content__user__info__role__header __select__header">
                     <span class="header__content__user__info__role__header__text __selectText">Должность</span>
                     <div class="header__content__user__info__role__header__arrow">
                        <img src="images/arrow.svg" alt="arrow" class="img-con">
                     </div>
                  </div>
                  <div class="header__content__user__info__role__header__content __select__body">
                     <span
                        class="header__content__user__info__role__header__content__item __select__body__item">должность1</span>
                     <span
                        class="header__content__user__info__role__header__content__item __select__body__item">должность1</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
      <main class="main">
   <button class="main__btn__back">
      <span class="main__btn__back__text">Пользователи</span>
   </button>
   <div class="main__container __ItemsFront">
      <div class="main__header __uprUser">
         <div class="main__header__left">
            <button class="btn__uprUser _btn">Пригласить пользователей</button>
            <div class="main__header__right__select __otdel __select">
               <div class="main__header__right__select__header __select__header">
                  <span class="main__header__right__select__header__text __selectText">Отделы</span>
                  <div class="main__header__right__select__header__btn">
                     <div class="main__header__right__select__header__btn__img">
                        <img src="images/arrow.svg" alt="arrow" class="img-con">
                     </div>
                  </div>
               </div>
               <div class="main__header__right__select__header__body __select__body">
                  <span class="main__header__right__select__header__body__item __select__body__item">АУП отдел</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Диагностики</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Камеральный</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Бухгалтерия</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Кадры</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Архив</span>
                  <span class="main__header__right__select__header__body__item __select__body__item">Архив</span>
               </div>
            </div>
         </div>
         <div class="main__header__right">
            <div class="main__header__right__find">
               <div class="input__block">
                  <span class="input__block__text">Поиск</span>
                  <input class="input" type="text">
               </div>
            </div>
         </div>
      </div>
      <div class="main__scroll">
         <div class="main__content __uprUser">
            <div class="row">
               <div class="row__checked"></div>
               <div class="row__content __header">
                  <span class="row__content__col">Карточка рабочего</span>
                  <span class="row__content__col">ФИО</span>
                  <span class="row__content__col">Электронная почта</span>
                  <span class="row__content__col">Создано</span>
                  <span class="row__content__col">Подразделение</span>
                  <span class="row__content__col">Телефон</span>
                  <span class="row__content__col">Почта</span>
                  <span class="row__content__col">Отдел</span>
                  <span class="row__content__col">Занимаемый должность</span>
                  <span class="row__content__col">Город</span>
                  <span class="row__content__col"></span>
               </div>
               <div class="row__file">
               </div>
            </div>
            <div class="row">
               <div class="row__checked"></div>
               <div class="row__content">
                  <span class="row__content__col">
                     <div class="row__content__col__card">
                        <img src="images/card.svg" alt="card" class="img-con">
                     </div>
                  </span>
                  <span class="row__content__col">Иван Иванов Иванович</span>
                  <span class="row__content__col">Ivan@maiI.ru</span>
                  <span class="row__content__col">22.02.2022</span>
                  <span class="row__content__col"></span>
                  <span class="row__content__col">+77777777777</span>
                  <span class="row__content__col">ivan@mail.ru</span>
                  <span class="row__content__col">Камеральный</span>
                  <span class="row__content__col">-</span>
                  <span class="row__content__col">Москва</span>
                  <div class="row__content__col __select">
                     <div class="row__content__col__setting __select__header">
                        <img src="images/settings.svg" alt="settings" class="img-con">
                     </div>
                     <div class="row__file__message__body__treagle __select__body">
                        <span class="row__file__message__body__treagle__setting__header">Выбрать подразделение</span>
                        <span class="row__file__message__body__treagle__setting__item">Выбрать подразделение</span>
                        <span class="row__file__message__body__treagle__setting__delete">Выбрать подразделение</span>
                     </div>
                  </div>
               </div>
               <div class="row__file">
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
   </div>
</body>

</html>